# Frontend .env (DES)
# Cuando corres con docker-compose, el docker-compose sobrescribe VITE_API_URL.
# Este archivo es para ejecución LOCAL sin Docker.

VITE_API_URL=http://localhost:18000/api/v1
VITE_ENV=development
